# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [72]:
mystring = 'hello'

In [73]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [74]:
mylist

['h', 'e', 'l', 'l', 'o']

In [75]:
mylist = [letter for letter in mystring]

In [76]:
mylist

['h', 'e', 'l', 'l', 'o']

In [77]:
mylist = [x for x in 'myword']

In [78]:
mylist

['m', 'y', 'w', 'o', 'r', 'd']

In [79]:
mylist = [num**2 for num in range(0,11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [80]:
for num in range(0,11):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100

In [81]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
# Grab every letter in string
lst = [x for x in 'word']

In [83]:
# Check
lst

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [84]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,13)]

In [85]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

## Example 3
Let's see how to add in <code>if</code> statements:

In [87]:
# Check for even numbers in a range
lst = [x for x in range(13) if x % 3== 0]

In [88]:
lst

[0, 3, 6, 9, 12]

## Example 4
Can also do more complicated arithmetic:

In [92]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [93]:
fahrenheit = []

for temp in celsius:
    fahrenheit.append(( (9/5)*temp + 32))

In [94]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [49]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [50]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

## Example 5
We can also perform nested list comprehensions, for example:

In [95]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [96]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [97]:
mylist = [x*y for x in [2,4,6] for y in [100,290,300]]

In [98]:
mylist

[200, 580, 600, 400, 1160, 1200, 600, 1740, 1800]

In [99]:
lst = [ x**2 for x in [x**2 for x in range(11)
lst]]

SyntaxError: invalid syntax (<ipython-input-99-c01721f40c34>, line 2)

In [101]:
for x in [10,30,50]:
    for y in [20,40,60]:
        print(x+y)

30
50
70
50
70
90
70
90
110

In [102]:
[print(x+y) for x in [10,30,50] for y in [20,40,60]]

30
50
70
50
70
90
70
90
110

[None, None, None, None, None, None, None, None, None]

In [103]:
b= "asfdasfasdf'sadfdsf"
print(len(b))
print("###################")
[print(len(a)) for a in ["asdfasfd","asfdsadf","sdfase","asdfadfffer",b]]

19
###################
8
8
6
11
19

[None, None, None, None, None]

# Single Condition

[action iteration condition]

In [42]:
[print(x, "fizzbuzz") for x in range(0,100) if(x%3==0 and x%5 ==0 )]

[(0, 'fizzbuzz'),
 (15, 'fizzbuzz'),
 (30, 'fizzbuzz'),
 (45, 'fizzbuzz'),
 (60, 'fizzbuzz'),
 (75, 'fizzbuzz'),
 (90, 'fizzbuzz')]

In [104]:
[(x, "fizzbuzz") for x in range(0,100) if(x%3==0 and x%5 ==0 )]

[(0, 'fizzbuzz'),
 (15, 'fizzbuzz'),
 (30, 'fizzbuzz'),
 (45, 'fizzbuzz'),
 (60, 'fizzbuzz'),
 (75, 'fizzbuzz'),
 (90, 'fizzbuzz')]

In [105]:
#c = ([(str(x) + " - fizzbuzz") ] for x in range(0,100) if(x%3==0 and x%5 ==0))
d = [(str(x) + " - fizzbuzz")  for x in range(0,100) if(x%3==0 and x%5 ==0)]
#print(type(c))
print(type(d))
print(d)

<class 'list'>
['0 - fizzbuzz', '15 - fizzbuzz', '30 - fizzbuzz', '45 - fizzbuzz', '60 - fizzbuzz', '75 - fizzbuzz', '90 - fizzbuzz']

## Multiple Conditions

In [106]:
result = [(str(x) + " - fizzbuzz ") if(x%3==0 and x%5 ==0) else (str(x) + " - no fizzbuzz ")  for x in range(0,100)]

for x in result:
    print(x + "\n" )

0 - fizzbuzz

1 - no fizzbuzz

2 - no fizzbuzz

3 - no fizzbuzz

4 - no fizzbuzz

5 - no fizzbuzz

6 - no fizzbuzz

7 - no fizzbuzz

8 - no fizzbuzz

9 - no fizzbuzz

10 - no fizzbuzz

11 - no fizzbuzz

12 - no fizzbuzz

13 - no fizzbuzz

14 - no fizzbuzz

15 - fizzbuzz

16 - no fizzbuzz

17 - no fizzbuzz

18 - no fizzbuzz

19 - no fizzbuzz

20 - no fizzbuzz

21 - no fizzbuzz

22 - no fizzbuzz

23 - no fizzbuzz

24 - no fizzbuzz

25 - no fizzbuzz

26 - no fizzbuzz

27 - no fizzbuzz

28 - no fizzbuzz

29 - no fizzbuzz

30 - fizzbuzz

31 - no fizzbuzz

32 - no fizzbuzz

33 - no fizzbuzz

34 - no fizzbuzz

35 - no fizzbuzz

36 - no fizzbuzz

37 - no fizzbuzz

38 - no fizzbuzz

39 - no fizzbuzz

40 - no fizzbuzz

41 - no fizzbuzz

42 - no fizzbuzz

43 - no fizzbuzz

44 - no fizzbuzz

45 - fizzbuzz

46 - no fizzbuzz

47 - no fizzbuzz

48 - no fizzbuzz

49 - no fizzbuzz

50 - no fizzbuzz

51 - no fizzbuzz

52 - no fizzbuzz

53 - no fizzbuzz

54 - no fizzbuzz

55 - no fizzbuzz

56 - no fizzbuzz

57 - no fizzbuzz

58 - no fizzbuzz

59 - no fizzbuzz

60 - fizzbuzz

61 - no fizzbuzz

62 - no fizzbuzz

63 - no fizzbuzz

64 - no fizzbuzz

65 - no fizzbuzz

66 - no fizzbuzz

67 - no fizzbuzz

68 - no fizzbuzz

69 - no fizzbuzz

70 - no fizzbuzz

71 - no fizzbuzz

72 - no fizzbuzz

73 - no fizzbuzz

74 - no fizzbuzz

75 - fizzbuzz

76 - no fizzbuzz

77 - no fizzbuzz

78 - no fizzbuzz

79 - no fizzbuzz

80 - no fizzbuzz

81 - no fizzbuzz

82 - no fizzbuzz

83 - no fizzbuzz

84 - no fizzbuzz

85 - no fizzbuzz

86 - no fizzbuzz

87 - no fizzbuzz

88 - no fizzbuzz

89 - no fizzbuzz

90 - fizzbuzz

91 - no fizzbuzz

92 - no fizzbuzz

93 - no fizzbuzz

94 - no fizzbuzz

95 - no fizzbuzz

96 - no fizzbuzz

97 - no fizzbuzz

98 - no fizzbuzz

99 - no fizzbuzz

### Nested IF Condition

In [47]:
#Nested If 
#if(within if)

#[print(str(x) + " divisible by 10 ") if(x%10==0) else print(str(x) + " only by 3 and 5")]
[[print(str(x) + " divisible by 10 ") if(x%10==0) else print(str(x) + " only by 3 and 5")] if(x%3==0 and x%5 ==0) else  print(str(x) + " - not divisible by any")  for x in range(0,100)]
print("############")

0 divisible by 10
1 - not divisible by any
2 - not divisible by any
3 - not divisible by any
4 - not divisible by any
5 - not divisible by any
6 - not divisible by any
7 - not divisible by any
8 - not divisible by any
9 - not divisible by any
10 - not divisible by any
11 - not divisible by any
12 - not divisible by any
13 - not divisible by any
14 - not divisible by any
15 only by 3 and 5
16 - not divisible by any
17 - not divisible by any
18 - not divisible by any
19 - not divisible by any
20 - not divisible by any
21 - not divisible by any
22 - not divisible by any
23 - not divisible by any
24 - not divisible by any
25 - not divisible by any
26 - not divisible by any
27 - not divisible by any
28 - not divisible by any
29 - not divisible by any
30 divisible by 10
31 - not divisible by any
32 - not divisible by any
33 - not divisible by any
34 - not divisible by any
35 - not divisible by any
36 - not divisible by any
37 - not divisible by any
38 - not divisible by any
39 - not divisible by any
40 - not divisible by any
41 - not divisible by any
42 - not divisible by any
43 - not divisible by any
44 - not divisible by any
45 only by 3 and 5
46 - not divisible by any
47 - not divisible by any
48 - not divisible by any
49 - not divisible by any
50 - not divisible by any
51 - not divisible by any
52 - not divisible by any
53 - not divisible by any
54 - not divisible by any
55 - not divisible by any
56 - not divisible by any
57 - not divisible by any
58 - not divisible by any
59 - not divisible by any
60 divisible by 10
61 - not divisible by any
62 - not divisible by any
63 - not divisible by any
64 - not divisible by any
65 - not divisible by any
66 - not divisible by any
67 - not divisible by any
68 - not divisible by any
69 - not divisible by any
70 - not divisible by any
71 - not divisible by any
72 - not divisible by any
73 - not divisible by any
74 - not divisible by any
75 only by 3 and 5
76 - not divisible by any
77 - not divisible by any
78 - not divisible by any
79 - not divisible by any
80 - not divisible by any
81 - not divisible by any
82 - not divisible by any
83 - not divisible by any
84 - not divisible by any
85 - not divisible by any
86 - not divisible by any
87 - not divisible by any
88 - not divisible by any
89 - not divisible by any
90 divisible by 10
91 - not divisible by any
92 - not divisible by any
93 - not divisible by any
94 - not divisible by any
95 - not divisible by any
96 - not divisible by any
97 - not divisible by any
98 - not divisible by any
99 - not divisible by any
############
divisible by 3 and 5 - [1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 25, 26, 27, 29, 31, 33, 34, 35, 37, 38, 39, 41, 42, 43, 45, 46, 47, 49, 50, 51, 53, 54, 55, 57, 58, 59, 61, 62, 63, 65, 66, 67, 69, 70, 71, 73, 74, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 89, 91, 93, 94, 95, 97, 98, 99]
#########################################################
divisible by 3 and 5 and 10 - [0, 4, 8, 12, 16, 20, 24, 28, 30, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 90, 92, 96]
#########################################################
not divisible by 3 and 5 - [1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 25, 26, 27, 29, 31, 33, 34, 35, 37, 38, 39, 41, 42, 43, 45, 46, 47, 49, 50, 51, 53, 54, 55, 57, 58, 59, 61, 62, 63, 65, 66, 67, 69, 70, 71, 73, 74, 75, 77, 78, 79, 81, 82, 83, 85, 86, 87, 89, 91, 93, 94, 95, 97, 98, 99]
#########################################################

In [53]:
b35= []
b3510= []
b24=[]
bnot2345 =[]
#[[b3510.append(x) if(x%10==0) else b35.append(x)] 
# if(x%3==0 and x%5 ==0) else  [b3510.append(x) if(x%2==0 and x%4 ==0 )
#                               else b35.append(x)]
[[[b3510.append(x) if(x%10==0) else b35.append(x)] if(x%3==0 and x%5 ==0) else  [b24.append(x) if(x%2==0 and x%4 ==0 ) else bnot2345.append(x)]]  for x in range(0,100)]
print("divisible by 3 and 5 - {}".format(b35))
print("#########################################################")
print("divisible by 3 and 5 and 10 - {}".format(b3510))
print("#########################################################")
print("not divisible by 3 and 5 - {}".format(b24))
print("#########################################################")
print("not divisible by 2,3,4 and 5 - {}".format(bnot2345))
print("#########################################################")

divisible by 3 and 5 - [15, 45, 75]
#########################################################
divisible by 3 and 5 and 10 - [0, 30, 60, 90]
#########################################################
not divisible by 3 and 5 - [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 64, 68, 72, 76, 80, 84, 88, 92, 96]
#########################################################
not divisible by 2,3,4 and 5 - [1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 17, 18, 19, 21, 22, 23, 25, 26, 27, 29, 31, 33, 34, 35, 37, 38, 39, 41, 42, 43, 46, 47, 49, 50, 51, 53, 54, 55, 57, 58, 59, 61, 62, 63, 65, 66, 67, 69, 70, 71, 73, 74, 77, 78, 79, 81, 82, 83, 85, 86, 87, 89, 91, 93, 94, 95, 97, 98, 99]
#########################################################

In [54]:
b35= []
b3510= []
b24=[]
[[print(str(x) + " divisible by 10 ") if(x%10==0) else print(str(x) + " only by 3 and 5")] if(x%3==0 and x%5 ==0) else  [print(str(x) + " divisible by 4  and 2 ") if(x%4==0 and x%2==0) else print(str(x) + " not by 2, 4, 3 and 5")]  for x in range(0,100)]

0 divisible by 10
1 not by 2, 4, 3 and 5
2 not by 2, 4, 3 and 5
3 not by 2, 4, 3 and 5
4 divisible by 4  and 2
5 not by 2, 4, 3 and 5
6 not by 2, 4, 3 and 5
7 not by 2, 4, 3 and 5
8 divisible by 4  and 2
9 not by 2, 4, 3 and 5
10 not by 2, 4, 3 and 5
11 not by 2, 4, 3 and 5
12 divisible by 4  and 2
13 not by 2, 4, 3 and 5
14 not by 2, 4, 3 and 5
15 only by 3 and 5
16 divisible by 4  and 2
17 not by 2, 4, 3 and 5
18 not by 2, 4, 3 and 5
19 not by 2, 4, 3 and 5
20 divisible by 4  and 2
21 not by 2, 4, 3 and 5
22 not by 2, 4, 3 and 5
23 not by 2, 4, 3 and 5
24 divisible by 4  and 2
25 not by 2, 4, 3 and 5
26 not by 2, 4, 3 and 5
27 not by 2, 4, 3 and 5
28 divisible by 4  and 2
29 not by 2, 4, 3 and 5
30 divisible by 10
31 not by 2, 4, 3 and 5
32 divisible by 4  and 2
33 not by 2, 4, 3 and 5
34 not by 2, 4, 3 and 5
35 not by 2, 4, 3 and 5
36 divisible by 4  and 2
37 not by 2, 4, 3 and 5
38 not by 2, 4, 3 and 5
39 not by 2, 4, 3 and 5
40 divisible by 4  and 2
41 not by 2, 4, 3 and 5
42 not by 2, 4, 3 and 5
43 not by 2, 4, 3 and 5
44 divisible by 4  and 2
45 only by 3 and 5
46 not by 2, 4, 3 and 5
47 not by 2, 4, 3 and 5
48 divisible by 4  and 2
49 not by 2, 4, 3 and 5
50 not by 2, 4, 3 and 5
51 not by 2, 4, 3 and 5
52 divisible by 4  and 2
53 not by 2, 4, 3 and 5
54 not by 2, 4, 3 and 5
55 not by 2, 4, 3 and 5
56 divisible by 4  and 2
57 not by 2, 4, 3 and 5
58 not by 2, 4, 3 and 5
59 not by 2, 4, 3 and 5
60 divisible by 10
61 not by 2, 4, 3 and 5
62 not by 2, 4, 3 and 5
63 not by 2, 4, 3 and 5
64 divisible by 4  and 2
65 not by 2, 4, 3 and 5
66 not by 2, 4, 3 and 5
67 not by 2, 4, 3 and 5
68 divisible by 4  and 2
69 not by 2, 4, 3 and 5
70 not by 2, 4, 3 and 5
71 not by 2, 4, 3 and 5
72 divisible by 4  and 2
73 not by 2, 4, 3 and 5
74 not by 2, 4, 3 and 5
75 only by 3 and 5
76 divisible by 4  and 2
77 not by 2, 4, 3 and 5
78 not by 2, 4, 3 and 5
79 not by 2, 4, 3 and 5
80 divisible by 4  and 2
81 not by 2, 4, 3 and 5
82 not by 2, 4, 3 and 5
83 not by 2, 4, 3 and 5
84 divisible by 4  and 2
85 not by 2, 4, 3 and 5
86 not by 2, 4, 3 and 5
87 not by 2, 4, 3 and 5
88 divisible by 4  and 2
89 not by 2, 4, 3 and 5
90 divisible by 10
91 not by 2, 4, 3 and 5
92 divisible by 4  and 2
93 not by 2, 4, 3 and 5
94 not by 2, 4, 3 and 5
95 not by 2, 4, 3 and 5
96 divisible by 4  and 2
97 not by 2, 4, 3 and 5
98 not by 2, 4, 3 and 5
99 not by 2, 4, 3 and 5

[[None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None],
 [None]]