#### Installing Pandas
pip install pandas

### Reference Link for pandas
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/index.html">API reference Pandas</a>

# Importing pandas into your application

In [1]:
# import numpy and pandas, and DataFrame / Series
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

# Set some pandas options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

# And some items for matplotlib
#%matplotlib inline 
#import matplotlib.pyplot as plt
#pd.options.display.mpl_style = 'default'

# Primary pandas objects

## The pandas Series

In [154]:
# create a four item Series
s = Series([5, 8, 3, 4])
s

0    5
1    8
2    3
3    4
dtype: int64

In [155]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
s[1:3]

b    8
c    3
dtype: int64

In [157]:
# return a Series with the row with labels 1 and 3
s[[1,3,0]]

1    8
3    4
0    5
dtype: int64

In [160]:
# create a series using an explicit index
s = Series([5, 8, 3, 4], index = ['a', 'b', 'c', 'd'])
s

a    5
b    8
c    3
d    4
dtype: int64

In [163]:
s['a':'d']
#s[0:3]

a    5
b    8
c    3
d    4
dtype: int64

In [164]:
# look up items the series having index 'a' and 'd'
s[['b', 'd']]

b    8
d    4
dtype: int64

In [165]:
# passing a list of integers to a Series that has
# non-integer index labels will look up based upon
# 0-based index like an array
s[[1, 3]]

b    8
d    4
dtype: int64

In [166]:
# get only the index of the Series
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [169]:
# create a Series who's index is a series of dates
# between the two specified dates (inclusive)
dates1 = pd.date_range('2019-07-01', '2019-07-06')
dates2 = pd.date_range('2019-07-02', '2019-07-07')
print(dates1)
print(dates2)

# create a Series with values(representing temperatures)
# for each date in the index
temps1 = Series([80, 82, 85, 90, 83, 87], 
                index = dates1)
print(temps1)
print(temps1.index)

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2019-07-02', '2019-07-03', '2019-07-04', '2019-07-05',
               '2019-07-06', '2019-07-07'],
              dtype='datetime64[ns]', freq='D')
2019-07-01    80
2019-07-02    82
2019-07-03    85
2019-07-04    90
2019-07-05    83
2019-07-06    87
Freq: D, dtype: int64
DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06'],
              dtype='datetime64[ns]', freq='D')

In [170]:
# calculate the mean of the values in the Series
temps1.mean()

84.5

In [171]:
temps1.max()

90

In [172]:
temps1.min()

80

In [173]:
temps1.sum()

507

In [174]:
temps1.cumsum()

2019-07-01     80
2019-07-02    162
2019-07-03    247
2019-07-04    337
2019-07-05    420
2019-07-06    507
Freq: D, dtype: int64

In [176]:
# create a second series of values using the same index
temps2 = Series([70, 75, 69, 83, 79, 77], 
                index = dates2)
print(temps2)
print(temps2.index)

2019-07-02    70
2019-07-03    75
2019-07-04    69
2019-07-05    83
2019-07-06    79
2019-07-07    77
Freq: D, dtype: int64
DatetimeIndex(['2019-07-02', '2019-07-03', '2019-07-04', '2019-07-05',
               '2019-07-06', '2019-07-07'],
              dtype='datetime64[ns]', freq='D')

In [43]:
print(temps1)

2019-07-01    80
2019-07-02    82
2019-07-03    85
2019-07-04    90
2019-07-05    83
2019-07-06    87
Freq: D, dtype: int64

In [44]:
print(temps2)

2019-07-02    70
2019-07-03    75
2019-07-04    69
2019-07-05    83
2019-07-06    79
2019-07-07    77
Freq: D, dtype: int64

In [179]:

# the following aligns the two by their index values
# and calculates the difference at those matching labels
temp_diffs = temps1 - temps2
print(type(temp_diffs))
temp_diffs
print(temp_diffs, type(temp_diffs))
print("###################################")
print(temp_diffs.index)

<class 'pandas.core.series.Series'>
2019-07-01     NaN
2019-07-02    12.0
2019-07-03    10.0
2019-07-04    21.0
2019-07-05     0.0
2019-07-06     8.0
2019-07-07     NaN
Freq: D, dtype: float64 <class 'pandas.core.series.Series'>
###################################
DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07'],
              dtype='datetime64[ns]', freq='D')

In [180]:
# lookup a value by date using the index
temp_diffs['2019-07-03']

10.0

In [181]:
# and also possible by integer position as if the 
# series was an array
temp_diffs[3]

21.0

## The pandas DataFrame

In [183]:
# create a DataFrame from the two series objects temp1 and temp2
# and give them column names
temps_df = DataFrame(
            {'Missoula': temps1, 
             'Philadelphia': temps2})
print(type(temps_df))
temps_df

<class 'pandas.core.frame.DataFrame'>

            Missoula  Philadelphia
2019-07-01      80.0           NaN
2019-07-02      82.0          70.0
2019-07-03      85.0          75.0
2019-07-04      90.0          69.0
2019-07-05      83.0          83.0
2019-07-06      87.0          79.0
2019-07-07       NaN          77.0

In [184]:
# get the column with the name Missoula
temps_df['Missoula']

2019-07-01    80.0
2019-07-02    82.0
2019-07-03    85.0
2019-07-04    90.0
2019-07-05    83.0
2019-07-06    87.0
2019-07-07     NaN
Freq: D, Name: Missoula, dtype: float64

In [188]:
# likewise we can get just the Philadelphia column
print(type(temps_df['Philadelphia']))
temps_df['Philadelphia']

<class 'pandas.core.series.Series'>

2019-07-01     NaN
2019-07-02    70.0
2019-07-03    75.0
2019-07-04    69.0
2019-07-05    83.0
2019-07-06    79.0
2019-07-07    77.0
Freq: D, Name: Philadelphia, dtype: float64

In [189]:
# return both columns in a different order
x = temps_df[['Philadelphia', 'Missoula']]
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [190]:
x = temps_df['Missoula']
print(type(x))

<class 'pandas.core.series.Series'>

In [192]:
print(temps_df.Missoula)

2019-07-01    80.0
2019-07-02    82.0
2019-07-03    85.0
2019-07-04    90.0
2019-07-05    83.0
2019-07-06    87.0
2019-07-07     NaN
Freq: D, Name: Missoula, dtype: float64

In [195]:
print(temps_df.Missoula['2019-07-03'])
print("###########################################")
print(temps_df.Missoula['2019-07-03':'2019-07-05'])
print("###########################################")
print(temps_df.Missoula.index)
print(type(temps_df.Missoula))
s = temps_df.Missoula
#print(s[['2019-07-03','2019-07-05'], dtype = 'datetime64[ns]'])

85.0
###########################################
2019-07-03    85.0
2019-07-04    90.0
2019-07-05    83.0
Freq: D, Name: Missoula, dtype: float64
###########################################
DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.series.Series'>

In [55]:
# retrieve the Missoula column through property syntax
print(type(temps_df.Missoula))
temps_df.Missoula

<class 'pandas.core.series.Series'>

2019-07-01    80.0
2019-07-02    82.0
2019-07-03    85.0
2019-07-04    90.0
2019-07-05    83.0
2019-07-06    87.0
2019-07-07     NaN
Freq: D, Name: Missoula, dtype: float64

In [196]:
# calculate the temperature difference between the two cities
temps_df.Missoula - temps_df.Philadelphia

2019-07-01     NaN
2019-07-02    12.0
2019-07-03    10.0
2019-07-04    21.0
2019-07-05     0.0
2019-07-06     8.0
2019-07-07     NaN
Freq: D, dtype: float64

In [197]:
# add a column to temp_df which contains the difference in temps
temps_df['Difference'] = temp_diffs
temps_df['Difference1'] = temps_df.Missoula - temps_df.Philadelphia
print(temps_df)
print(temps_df.index)

            Missoula  Philadelphia  Difference  Difference1
2019-07-01      80.0           NaN         NaN          NaN
2019-07-02      82.0          70.0        12.0         12.0
2019-07-03      85.0          75.0        10.0         10.0
2019-07-04      90.0          69.0        21.0         21.0
2019-07-05      83.0          83.0         0.0          0.0
2019-07-06      87.0          79.0         8.0          8.0
2019-07-07       NaN          77.0         NaN          NaN
DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07'],
              dtype='datetime64[ns]', freq='D')

In [198]:
# get the columns, which is also an Index object
temps_df.columns

Index(['Missoula', 'Philadelphia', 'Difference', 'Difference1'], dtype='object')

In [199]:
# slice the temp differences column for the rows at 
# location 1 through 4 (as though it is an array)
temps_df.Difference[1:6]

2019-07-02    12.0
2019-07-03    10.0
2019-07-04    21.0
2019-07-05     0.0
2019-07-06     8.0
Freq: D, Name: Difference, dtype: float64

In [202]:
# get the row at array position 1
print(type(temps_df.iloc[6]))
temps_df.iloc[6]

<class 'pandas.core.series.Series'>

Missoula         NaN
Philadelphia    77.0
Difference       NaN
Difference1      NaN
Name: 2019-07-07 00:00:00, dtype: float64

In [203]:
# get the row at array position 1
print(type(temps_df.iloc[1:6]))
temps_df.iloc[1:6]

<class 'pandas.core.frame.DataFrame'>

            Missoula  Philadelphia  Difference  Difference1
2019-07-02      82.0          70.0        12.0         12.0
2019-07-03      85.0          75.0        10.0         10.0
2019-07-04      90.0          69.0        21.0         21.0
2019-07-05      83.0          83.0         0.0          0.0
2019-07-06      87.0          79.0         8.0          8.0

In [206]:
temps_df.iloc[1:5:2]

            Missoula  Philadelphia  Difference  Difference1
2019-07-02      82.0          70.0        12.0         12.0
2019-07-04      90.0          69.0        21.0         21.0

In [207]:
# the names of the columns have become the index
# they have been 'pivoted'
print(temps_df)
temps_df.ix[1:5:3]

            Missoula  Philadelphia  Difference  Difference1
2019-07-01      80.0           NaN         NaN          NaN
2019-07-02      82.0          70.0        12.0         12.0
2019-07-03      85.0          75.0        10.0         10.0
2019-07-04      90.0          69.0        21.0         21.0
2019-07-05      83.0          83.0         0.0          0.0
2019-07-06      87.0          79.0         8.0          8.0
2019-07-07       NaN          77.0         NaN          NaN

c:\python373\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

            Missoula  Philadelphia  Difference  Difference1
2019-07-02      82.0          70.0        12.0         12.0
2019-07-05      83.0          83.0         0.0          0.0

In [214]:
# retrieve row by index label using .loc
temps_df.loc['2019-07-03']
#temps_df.loc['2019-07-03','2019-07-05']

Missoula        85.0
Philadelphia    75.0
Difference      10.0
Difference1     10.0
Name: 2019-07-03 00:00:00, dtype: float64

In [89]:
temps_df

            Missoula  Philadelphia  Difference  Difference1
2014-07-01      80.0           NaN         NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0
2014-07-06      87.0          79.0         8.0          8.0
2014-07-07       NaN          77.0         NaN          NaN

In [215]:
temps_df.Difference[[1,3,5]]

2019-07-02    12.0
2019-07-04    21.0
2019-07-06     8.0
Name: Difference, dtype: float64

In [218]:
# get the values in the Differences column in tows 1, 3 and 5
# using 0-based location
temps_df.iloc[[1, 3, 5]].Difference

2019-07-02    12.0
2019-07-04    21.0
2019-07-06     8.0
Freq: 2D, Name: Difference, dtype: float64

In [219]:
temps_df>82

            Missoula  Philadelphia  Difference  Difference1
2019-07-01     False         False       False        False
2019-07-02     False         False       False        False
2019-07-03      True         False       False        False
2019-07-04      True         False       False        False
2019-07-05      True          True       False        False
2019-07-06      True         False       False        False
2019-07-07     False         False       False        False

In [220]:
temps_df[temps_df>10]

            Missoula  Philadelphia  Difference  Difference1
2019-07-01      80.0           NaN         NaN          NaN
2019-07-02      82.0          70.0        12.0         12.0
2019-07-03      85.0          75.0         NaN          NaN
2019-07-04      90.0          69.0        21.0         21.0
2019-07-05      83.0          83.0         NaN          NaN
2019-07-06      87.0          79.0         NaN          NaN
2019-07-07       NaN          77.0         NaN          NaN

In [221]:
# which values in the Missoula column are > 82?
temps_df.Missoula > 82

2019-07-01    False
2019-07-02    False
2019-07-03     True
2019-07-04     True
2019-07-05     True
2019-07-06     True
2019-07-07    False
Freq: D, Name: Missoula, dtype: bool

In [222]:
# return the rows where the temps for Missoula > 82
temps_df[temps_df.Missoula > 82]

            Missoula  Philadelphia  Difference  Difference1
2019-07-03      85.0          75.0        10.0         10.0
2019-07-04      90.0          69.0        21.0         21.0
2019-07-05      83.0          83.0         0.0          0.0
2019-07-06      87.0          79.0         8.0          8.0

In [96]:
###### provides default 5 values from top
temps_df.head()

            Missoula  Philadelphia  Difference  Difference1
2014-07-01      80.0           NaN         NaN          NaN
2014-07-02      82.0          70.0        12.0         12.0
2014-07-03      85.0          75.0        10.0         10.0
2014-07-04      90.0          69.0        21.0         21.0
2014-07-05      83.0          83.0         0.0          0.0

In [225]:
###### provides default 5 values from top
temps_df.head(6)

            Missoula  Philadelphia  Difference  Difference1
2019-07-01      80.0           NaN         NaN          NaN
2019-07-02      82.0          70.0        12.0         12.0
2019-07-03      85.0          75.0        10.0         10.0
2019-07-04      90.0          69.0        21.0         21.0
2019-07-05      83.0          83.0         0.0          0.0
2019-07-06      87.0          79.0         8.0          8.0

In [228]:
###### provides default 6 values from top
temps_df.tail(4)

            Missoula  Philadelphia  Difference  Difference1
2019-07-04      90.0          69.0        21.0         21.0
2019-07-05      83.0          83.0         0.0          0.0
2019-07-06      87.0          79.0         8.0          8.0
2019-07-07       NaN          77.0         NaN          NaN

# Loading data from files and the web into a DataFrame

In [229]:
# display the contents of test1.csv
# which command to use depends on your OS
!cat data/test1.csv # on non-windows systems
#!type data/test1.csv # on windows systems

'cat' is not recognized as an internal or external command,
operable program or batch file.

###### Accessing Data

In [231]:
x = pd.read_clipboard()
print(x)

Empty DataFrame
Columns: ["CRIM","ZN","INDUS","CHAS","NOX","RM","AGE","DIS","RAD","TAX","PTRATIO","B","LSTAT","MEDV"]
Index: []

In [232]:
# read the contents of the file into a DataFrame
df = pd.read_csv('test1.csv')
df

                  date         0         1         2
0  2000-01-01 00:00:00  1.103763 -1.909979 -0.808956
1  2000-01-02 00:00:00  1.188917  0.581120  0.861597
2  2000-01-03 00:00:00 -0.964200  0.779764  1.829062
3  2000-01-04 00:00:00  0.782130 -1.720670 -1.108242
4  2000-01-05 00:00:00 -1.867017 -0.528368 -2.488309
5  2000-01-06 00:00:00  2.569280 -0.471901 -0.835033
6  2000-01-07 00:00:00 -0.399323 -0.676427 -0.011256
7  2000-01-08 00:00:00  1.642993  1.013420  1.435667
8  2000-01-09 00:00:00  1.147308  2.138000  0.554171
9  2000-01-10 00:00:00  0.933766  1.387155 -0.560143

In [234]:
df.columns

Index(['date', '0', '1', '2'], dtype='object')

In [241]:
# the contents of the date column
df[["date","0","2"]]

        date         0         2
0 2000-01-01  1.103763 -0.808956
1 2000-01-02  1.188917  0.861597
2 2000-01-03 -0.964200  1.829062
3 2000-01-04  0.782130 -1.108242
4 2000-01-05 -1.867017 -2.488309
5 2000-01-06  2.569280 -0.835033
6 2000-01-07 -0.399323 -0.011256
7 2000-01-08  1.642993  1.435667
8 2000-01-09  1.147308  0.554171
9 2000-01-10  0.933766 -0.560143

In [236]:
# we can get the first value in the date column
df.date[0]

'2000-01-01 00:00:00'

In [242]:
# it is a string
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [238]:
type(df.date)

pandas.core.series.Series

In [239]:
# read the data and tell pandas the date column should be 
# a date in the resulting DataFrame
df = pd.read_csv('test1.csv', parse_dates=['date'])
df

        date         0         1         2
0 2000-01-01  1.103763 -1.909979 -0.808956
1 2000-01-02  1.188917  0.581120  0.861597
2 2000-01-03 -0.964200  0.779764  1.829062
3 2000-01-04  0.782130 -1.720670 -1.108242
4 2000-01-05 -1.867017 -0.528368 -2.488309
5 2000-01-06  2.569280 -0.471901 -0.835033
6 2000-01-07 -0.399323 -0.676427 -0.011256
7 2000-01-08  1.642993  1.013420  1.435667
8 2000-01-09  1.147308  2.138000  0.554171
9 2000-01-10  0.933766  1.387155 -0.560143

In [243]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [244]:
# verify the type now is date
# in pandas, this is actually a Timestamp
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [245]:
# unfortunately the index is numeric which makes
# accessing data by date more complicated
df.index

RangeIndex(start=0, stop=10, step=1)

In [248]:
# read in again, now specity the data column as being the 
# index of the resulting DataFrame
df = pd.read_csv('test1.csv', parse_dates=['date'], index_col='date')
df
print(df.index)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', name='date', freq=None)

In [25]:
# and the index is now a DatetimeIndex
df.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10'],
              dtype='datetime64[ns]', name='date', freq=None)

In [249]:
# imports for reading data from Yahoo!
from pandas.io.data import DataReader
from datetime import date
from dateutil.relativedelta import relativedelta

# read the last three months of data for GOOG
goog = DataReader("GOOG", date.today() + relativedelta(months=-3))

# the result is a DataFrame
#and this gives us the 5 most recent prices
goog.tail()

ModuleNotFoundError: No module named 'pandas.io.data'

In [250]:
# use column 0 as the index
msft = pd.read_csv("msft.csv", index_col=1)
print(msft)

             Date   High    Low  Close   Volume  Adj Close
Open
83.46  2014-07-21  83.53  81.81  81.93  2359300      81.93
83.46  2014-07-18  83.40  82.52  83.35  4020800      83.35
84.35  2014-07-17  84.63  83.33  83.63  1974000      83.63
83.77  2014-07-16  84.91  83.66  84.91  1755600      84.91
84.30  2014-07-15  84.38  83.20  83.58  1874700      83.58
83.66  2014-07-14  84.64  83.11  84.40  1432100      84.40
83.55  2014-07-11  83.98  82.85  83.35  2001400      83.35
85.20  2014-07-10  85.57  83.36  83.42  2713300      83.42
84.83  2014-07-09  85.79  84.76  85.50  1540700      85.50
86.29  2014-07-08  86.57  84.69  84.69  2164000      84.69
86.97  2014-07-07  87.13  85.82  86.07  1644600      86.07
87.22  2014-07-04  87.54  87.05  87.05  1392600      87.05
86.02  2014-07-03  87.42  85.88  87.14  1985800      87.14
85.68  2014-07-02  85.91  85.37  85.84  1490000      85.84
85.28  2014-07-01  85.43  84.73  85.36  1507400      85.36
84.93  2014-06-30  85.76  84.70  85.03  2713200      85.03
84.76  2014-06-27  85.31  84.32  84.64  2156600      84.64
86.50  2014-06-26  86.50  84.73  85.00  2161200      85.00
86.22  2014-06-25  86.74  85.96  86.02  2359500      86.02
87.12  2014-06-24  87.21  86.17  86.52  2162700      86.52
87.50  2014-06-23  87.59  86.54  86.78  1906700      86.78
87.20  2014-06-20  88.28  86.85  87.36  8315300      87.36
86.90  2014-06-19  87.57  86.67  87.03  2349800      87.03
86.16  2014-06-18  86.66  86.00  86.02  1702700      86.02
85.39  2014-06-17  86.19  85.30  86.11  1731700      86.11
85.17  2014-06-16  85.72  85.02  85.17  1692400      85.17
85.90  2014-06-13  85.96  84.93  85.50  1855100      85.50
85.71  2014-06-12  86.35  85.55  86.20  2643800      86.20
85.69  2014-06-11  86.23  85.38  85.71  1837100      85.71
86.12  2014-06-10  86.15  85.56  85.87  2062500      85.87
86.00  2014-06-09  86.24  85.65  86.10  1076500      86.10
85.43  2014-06-06  85.94  84.88  85.86  2142700      85.86
85.01  2014-06-05  85.95  84.56  85.43  2921800      85.43
84.89  2014-06-04  85.35  84.67  85.09  2180100      85.09
84.68  2014-06-03  84.86  84.10  84.86  1629800      84.86
84.89  2014-06-02  85.00  84.26  84.50  1425800      84.50
84.90  2014-05-30  84.95  84.13  84.47  1815800      84.47
84.66  2014-05-29  84.88  84.25  84.73   994100      84.73
84.44  2014-05-28  84.81  84.08  84.81  1837000      84.81
83.60  2014-05-27  84.45  83.36  84.44  2097000      84.44
83.65  2014-05-26  83.95  83.31  83.77  1320000      83.77
83.20  2014-05-23  83.23  82.49  83.08  1596900      83.08
83.05  2014-05-22  83.26  82.61  83.00  1382100      83.00
82.15  2014-05-21  83.09  81.60  82.97  1762600      82.97
81.75  2014-05-20  82.51  81.75  82.43  1833800      82.43
82.41  2014-05-19  82.82  81.60  82.78  2242600      82.78
82.87  2014-05-16  83.03  81.88  82.33  3008600      82.33
83.80  2014-05-15  84.43  82.74  83.17  2809900      83.17
83.51  2014-05-14  84.01  83.02  83.69  1977100      83.69
83.87  2014-05-13  84.30  83.29  83.49  2436100      83.49
...           ...    ...    ...    ...      ...        ...
45.40  2000-03-10  46.70  45.26  46.20  2546600      18.00
45.85  2000-03-09  46.45  45.30  45.79  3569400      17.84
45.95  2000-03-08  46.08  45.01  45.65  3783500      17.79
46.00  2000-03-07  46.24  44.33  44.80  3693800      17.46
45.80  2000-03-06  46.46  44.90  46.25  3349700      18.02
46.60  2000-03-03  46.80  44.98  45.41  2600100      17.69
46.25  2000-03-02  46.90  44.78  46.90  3471200      18.28
47.20  2000-03-01  48.39  44.75  46.20  5935100      18.00
47.50  2000-02-29  48.45  45.95  47.90  3165100      18.67
44.60  2000-02-28  47.55  43.95  46.90  3393000      18.28
46.00  2000-02-25  46.00  44.60  45.16  2533500      17.60
47.65  2000-02-24  47.65  45.10  45.90  2818000      17.89
46.55  2000-02-23  48.20  46.55  47.14  3523500      18.37
46.21  2000-02-22  46.80  45.52  46.50  3450000      18.12
46.60  2000-02-21  47.10  45.80  47.00  2155500      18.31
46.99  2000-02-18  48.09  46.71  47.40  5644000      18.47
44.39  2000-02-17  46.89  44.10  46.50  5374400      18.12
42.00  2000-02-16  43.99  41.82  43.99  4771700      17.14
43.45  2000-02-15  43.65  40.99  40.99  3644300      15.97
43.75  2000-02-14  44.95  42.60  43.20  2983300      16.83
44.00  2000-02-11  45.45  43.05  44.13  5987800      17.20
42.80  2000-02-10  44.00  42.10  44.00  3617800      17.15
43.50  2000-02-09  45.40  42.92  43.10  4573700      16.79
42.15  2000-02-08  43.28  41.75  43.05  4316300      16.78
42.80  2000-02-07  42.90  41.22  41.75  3709400      16.27
43.87  2000-02-04  44.47  42.31  43.07  3334600      16.78
44.99  2000-02-03  46.19  43.41  43.65  5097100      17.01
42.99  2000-02-02  45.00  42.26  45.00  4979400      17.54
44.77  2000-02-01  44.77  41.81  42.02  5474200      16.37
44.90  2000-01-31  44.90  43.51  44.05  3176400      17.16
44.85  2000-01-28  45.97  43.93  45.25  2828300      17.63
44.02  2000-01-27  44.99  43.32  44.55  4552100      17.36
45.80  2000-01-26  46.17  43.50  44.02  4562200      17.15
46.75  2000-01-25  46.80  45.25  45.25  3323200      17.63
48.10  2000-01-24  48.35  46.81  47.18  1889000      18.38
48.80  2000-01-21  49.15  47.50  48.05  3534900      18.72
49.90  2000-01-20  50.00  48.83  49.40  2205100      19.25
47.65  2000-01-19  49.97  47.62  49.84  4004400      19.42
47.93  2000-01-18  48.48  47.40  47.95  2739100      18.68
47.60  2000-01-17  48.63  47.60  47.87  2656800      18.65
47.89  2000-01-14  48.48  47.40  47.50  2784500      18.51
47.85  2000-01-13  48.60  46.90  47.50  2482900      18.51
47.75  2000-01-12  48.40  47.26  48.00  2351400      18.70
50.05  2000-01-11  50.05  47.75  47.99  4773000      18.70
51.10  2000-01-10  51.24  49.60  50.22  2576000      19.57
48.55  2000-01-07  50.35  47.80  50.00  4621200      19.48
46.78  2000-01-06  48.35  46.28  48.03  3306100      18.72
46.94  2000-01-05  47.50  45.92  46.75  4809900      18.22
49.80  2000-01-04  49.80  47.72  47.85  4489500      18.65
52.70  2000-01-03  53.20  49.60  49.75  3137300      19.39

[3767 rows x 6 columns]

In [251]:
# examine the types of the columns in this DataFrame
msft.dtypes

Date          object
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

In [36]:
# specify that the Volume column should be a float64
msft = pd.read_csv("msft.csv", 
                   dtype = { 'Volume' : np.float64, 'Low': object})
msft.dtypes

Date          object
Open         float64
High         float64
Low           object
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [255]:
msft = pd.read_csv("msft.csv", dtype = {'High': str ,'Volume' : np.float64})
print(msft.dtypes)
print("################################################")
msft.Low = msft.High.astype(np.int64,errors="ignore")# errors ="ignore" or "raise"
print(msft.dtypes)
msft.head(20)

Date          object
Open         float64
High          object
Low          float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object
################################################
Date          object
Open         float64
High          object
Low           object
Close        float64
Volume       float64
Adj Close    float64
dtype: object

          Date   Open   High    Low  Close     Volume  Adj Close
0   2014-07-21  83.46  83.53  83.53  81.93  2359300.0      81.93
1   2014-07-18  83.46  83.40  83.40  83.35  4020800.0      83.35
2   2014-07-17  84.35  84.63  84.63  83.63  1974000.0      83.63
3   2014-07-16  83.77  84.91  84.91  84.91  1755600.0      84.91
4   2014-07-15  84.30  84.38  84.38  83.58  1874700.0      83.58
5   2014-07-14  83.66  84.64  84.64  84.40  1432100.0      84.40
6   2014-07-11  83.55  83.98  83.98  83.35  2001400.0      83.35
7   2014-07-10  85.20  85.57  85.57  83.42  2713300.0      83.42
8   2014-07-09  84.83  85.79  85.79  85.50  1540700.0      85.50
9   2014-07-08  86.29  86.57  86.57  84.69  2164000.0      84.69
10  2014-07-07  86.97  87.13  87.13  86.07  1644600.0      86.07
11  2014-07-04  87.22  87.54  87.54  87.05  1392600.0      87.05
12  2014-07-03  86.02  87.42  87.42  87.14  1985800.0      87.14
13  2014-07-02  85.68  85.91  85.91  85.84  1490000.0      85.84
14  2014-07-01  85.28  85.43  85.43  85.36  1507400.0      85.36
15  2014-06-30  84.93  85.76  85.76  85.03  2713200.0      85.03
16  2014-06-27  84.76  85.31  85.31  84.64  2156600.0      84.64
17  2014-06-26  86.50  86.50  86.50  85.00  2161200.0      85.00
18  2014-06-25  86.22  86.74  86.74  86.02  2359500.0      86.02
19  2014-06-24  87.12  87.21  87.21  86.52  2162700.0      86.52

## Specifying column names

In [55]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=1 skips the header row
df = pd.read_csv("msft.csv", header=3)
print(df.head(10))

   2014-07-17  84.35  84.63  83.33  83.63  1974000  83.63.1
0  2014-07-16  83.77  84.91  83.66  84.91  1755600    84.91
1  2014-07-15  84.30  84.38  83.20  83.58  1874700    83.58
2  2014-07-14  83.66  84.64  83.11  84.40  1432100    84.40
3  2014-07-11  83.55  83.98  82.85  83.35  2001400    83.35
4  2014-07-10  85.20  85.57  83.36  83.42  2713300    83.42
5  2014-07-09  84.83  85.79  84.76  85.50  1540700    85.50
6  2014-07-08  86.29  86.57  84.69  84.69  2164000    84.69
7  2014-07-07  86.97  87.13  85.82  86.07  1644600    86.07
8  2014-07-04  87.22  87.54  87.05  87.05  1392600    87.05
9  2014-07-03  86.02  87.42  85.88  87.14  1985800    87.14
                   open   high    low    close  volume
2014-07-16 83.77  84.91  83.66  84.91  1755600   84.91
2014-07-15 84.30  84.38  83.20  83.58  1874700   83.58
2014-07-14 83.66  84.64  83.11  84.40  1432100   84.40
2014-07-11 83.55  83.98  82.85  83.35  2001400   83.35
2014-07-10 85.20  85.57  83.36  83.42  2713300   83.42
2014-07-09 84.83  85.79  84.76  85.50  1540700   85.50
2014-07-08 86.29  86.57  84.69  84.69  2164000   84.69
2014-07-07 86.97  87.13  85.82  86.07  1644600   86.07
2014-07-04 87.22  87.54  87.05  87.05  1392600   87.05
2014-07-03 86.02  87.42  85.88  87.14  1985800   87.14
Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [columns]"

In [57]:
df = pd.read_csv("msft.csv",header=3,names=['open', 'high', 'low','close', 'volume'])
print(df.head(10))
print(df.columns)
df.index

                   open   high    low    close  volume
2014-07-16 83.77  84.91  83.66  84.91  1755600   84.91
2014-07-15 84.30  84.38  83.20  83.58  1874700   83.58
2014-07-14 83.66  84.64  83.11  84.40  1432100   84.40
2014-07-11 83.55  83.98  82.85  83.35  2001400   83.35
2014-07-10 85.20  85.57  83.36  83.42  2713300   83.42
2014-07-09 84.83  85.79  84.76  85.50  1540700   85.50
2014-07-08 86.29  86.57  84.69  84.69  2164000   84.69
2014-07-07 86.97  87.13  85.82  86.07  1644600   86.07
2014-07-04 87.22  87.54  87.05  87.05  1392600   87.05
2014-07-03 86.02  87.42  85.88  87.14  1985800   87.14
Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

MultiIndex(levels=[['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12', '2000-01-13', '2000-01-14', '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20', '2000-01-21', '2000-01-24', '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28', '2000-01-31', '2000-02-01', '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-07', '2000-02-08', '2000-02-09', '2000-02-10', '2000-02-11', '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17', '2000-02-18', '2000-02-21', '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25', '2000-02-28', '2000-02-29', '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-06', '2000-03-07', '2000-03-08', '2000-03-09', '2000-03-10', '2000-03-13', '2000-03-14', '2000-03-15', '2000-03-16', '2000-03-17', '2000-03-20', '2000-03-21', '2000-03-22', '2000-03-23', '2000-03-24', '2000-03-27', '2000-03-28', '2000-03-29', '2000-03-30', '2000-03-31', '2000-04-03', '2000-04-04', '2000-04-05', '2000-04-06', '2000-04-07', '2000-04-10', '2000-04-11', '2000-04-12', '2000-04-13', '2000-04-14', '2000-04-17', '2000-04-18', '2000-04-19', '2000-04-20', '2000-04-21', '2000-04-24', '2000-04-25', '2000-04-26', '2000-04-27', '2000-04-28', '2000-05-01', '2000-05-02', '2000-05-03', '2000-05-04', '2000-05-05', '2000-05-08', '2000-05-09', '2000-05-10', '2000-05-11', '2000-05-12', '2000-05-15', '2000-05-16', '2000-05-17', '2000-05-18', '2000-05-19', '2000-05-22', '2000-05-23', '2000-05-24', '2000-05-25', '2000-05-26', '2000-05-29', '2000-05-30', '2000-05-31', '2000-06-01', '2000-06-02', '2000-06-05', '2000-06-06', '2000-06-07', '2000-06-08', '2000-06-09', '2000-06-12', '2000-06-13', '2000-06-14', '2000-06-15', '2000-06-16', '2000-06-19', '2000-06-20', '2000-06-21', '2000-06-22', '2000-06-23', '2000-06-26', '2000-06-27', '2000-06-28', '2000-06-29', '2000-06-30', '2000-07-03', '2000-07-04', '2000-07-05', '2000-07-06', '2000-07-07', '2000-07-10', '2000-07-11', '2000-07-12', '2000-07-13', '2000-07-14', '2000-07-17', '2000-07-18', '2000-07-19', '2000-07-20', '2000-07-21', '2000-07-24', '2000-07-25', '2000-07-26', '2000-07-27', '2000-07-28', '2000-07-31', '2000-08-01', '2000-08-02', '2000-08-03', '2000-08-04', '2000-08-07', '2000-08-08', '2000-08-09', '2000-08-10', '2000-08-11', '2000-08-14', '2000-08-15', '2000-08-16', '2000-08-17', '2000-08-18', '2000-08-21', '2000-08-22', '2000-08-23', '2000-08-24', '2000-08-25', '2000-08-28', '2000-08-29', '2000-08-30', '2000-08-31', '2000-09-01', '2000-09-04', '2000-09-05', '2000-09-06', '2000-09-07', '2000-09-08', '2000-09-11', '2000-09-12', '2000-09-13', '2000-09-14', '2000-09-15', '2000-09-18', '2000-09-19', '2000-09-20', '2000-09-21', '2000-09-22', '2000-09-25', '2000-09-26', '2000-09-27', '2000-09-28', '2000-09-29', '2000-10-02', '2000-10-03', '2000-10-04', '2000-10-05', '2000-10-06', '2000-10-09', '2000-10-10', '2000-10-11', '2000-10-12', '2000-10-13', '2000-10-16', '2000-10-17', '2000-10-18', '2000-10-19', '2000-10-20', '2000-10-23', '2000-10-24', '2000-10-25', '2000-10-26', '2000-10-27', '2000-10-30', '2000-10-31', '2000-11-01', '2000-11-02', '2000-11-03', '2000-11-06', '2000-11-07', '2000-11-08', '2000-11-09', '2000-11-10', '2000-11-13', '2000-11-14', '2000-11-15', '2000-11-16', '2000-11-17', '2000-11-20', '2000-11-21', '2000-11-22', '2000-11-23', '2000-11-24', '2000-11-27', '2000-11-28', '2000-11-29', '2000-11-30', '2000-12-01', '2000-12-04', '2000-12-05', '2000-12-06', '2000-12-07', '2000-12-08', '2000-12-11', '2000-12-12', '2000-12-13', '2000-12-14', '2000-12-15', '2000-12-18', '2000-12-19', '2000-12-20', '2000-12-21', '2000-12-22', '2000-12-27', '2000-12-28', '2000-12-29', '2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04', '2001-01-05', '2001-01-08', '2001-01-09', '2001-01-10', '2001-01-11', '2001-01-12', '2001-01-15', '2001-01-16', '2001-01-17', '2001-01-18', '2001-01-19', '2001-01-22', '2001-01-23', '2001-01-24', '2001-01-25', '2001-01-26', '2001-01-29', '2001-01-30', '2001-01-31', '2001-02-01', '2001-02-02', '2001-02-05', '2001-02-06', '2001-02-07', '2001-02-08', '2001-02-09', '2001-02-12', '2001-02-13', '2001-02-14', '2001-02-15', '2001-02-16', '2001-02-19', '2001-02-20', '2001-02-21', '2001-02-22', '2001-02-23', '2001-02-26', '2001-02-27', '2001-02-28', '2001-03-01', '2001-03-02', '2001-03-05', '2001-03-06', '2001-03-07', '2001-03-08', '2001-03-09', '2001-03-12', '2001-03-13', '2001-03-15', '2001-03-16', '2001-03-19', '2001-03-20', '2001-03-21', '2001-03-22', '2001-03-23', '2001-03-26', '2001-03-27', '2001-03-28', '2001-03-29', '2001-03-30', '2001-04-02', '2001-04-03', '2001-04-04', '2001-04-05', '2001-04-06', '2001-04-09', '2001-04-10', '2001-04-11', '2001-04-12', '2001-04-13', '2001-04-16', '2001-04-17', '2001-04-18', '2001-04-19', '2001-04-20', '2001-04-23', '2001-04-24', '2001-04-25', '2001-04-26', '2001-04-27', '2001-04-30', '2001-05-01', '2001-05-02', '2001-05-03', '2001-05-04', '2001-05-07', '2001-05-08', '2001-05-09', '2001-05-10', '2001-05-11', '2001-05-14', '2001-05-15', '2001-05-16', '2001-05-17', '2001-05-18', '2001-05-21', '2001-05-22', '2001-05-23', '2001-05-24', '2001-05-25', '2001-05-28', '2001-05-29', '2001-05-30', '2001-05-31', '2001-06-01', '2001-06-04', '2001-06-05', '2001-06-06', '2001-06-07', '2001-06-08', '2001-06-11', '2001-06-12', '2001-06-13', '2001-06-14', '2001-06-15', '2001-06-18', '2001-06-19', '2001-06-20', '2001-06-21', '2001-06-22', '2001-06-25', '2001-06-26', '2001-06-27', '2001-06-28', '2001-06-29', '2001-07-02', '2001-07-03', '2001-07-04', '2001-07-05', '2001-07-06', '2001-07-09', '2001-07-10', '2001-07-11', '2001-07-12', '2001-07-13', '2001-07-16', '2001-07-17', '2001-07-18', '2001-07-19', '2001-07-20', '2001-07-23', '2001-07-24', '2001-07-25', '2001-07-26', '2001-07-27', '2001-07-30', '2001-07-31', '2001-08-01', '2001-08-02', '2001-08-03', '2001-08-06', '2001-08-07', '2001-08-08', '2001-08-09', '2001-08-10', '2001-08-13', '2001-08-14', '2001-08-15', '2001-08-16', '2001-08-17', '2001-08-20', '2001-08-21', '2001-08-22', '2001-08-23', '2001-08-24', '2001-08-27', '2001-08-28', '2001-08-29', '2001-08-30', '2001-08-31', '2001-09-03', '2001-09-04', '2001-09-05', '2001-09-06', '2001-09-07', '2001-09-10', '2001-09-11', '2001-09-12', '2001-09-13', '2001-09-14', '2001-09-17', '2001-09-18', '2001-09-19', '2001-09-20', '2001-09-21', '2001-09-24', '2001-09-25', '2001-09-26', '2001-09-27', '2001-09-28', '2001-10-01', '2001-10-02', '2001-10-03', '2001-10-04', '2001-10-05', '2001-10-08', '2001-10-09', '2001-10-10', '2001-10-11', '2001-10-12', '2001-10-15', '2001-10-16', '2001-10-17', '2001-10-18', '2001-10-19', '2001-10-22', '2001-10-23', '2001-10-24', '2001-10-25', '2001-10-26', '2001-10-29', '2001-10-30', '2001-10-31', '2001-11-01', '2001-11-02', '2001-11-05', '2001-11-06', '2001-11-07', '2001-11-08', '2001-11-09', '2001-11-12', '2001-11-13', '2001-11-14', '2001-11-15', '2001-11-16', '2001-11-19', '2001-11-20', '2001-11-21', '2001-11-22', '2001-11-23', '2001-11-26', '2001-11-27', '2001-11-28', '2001-11-29', '2001-11-30', '2001-12-03', '2001-12-04', '2001-12-05', '2001-12-06', '2001-12-07', '2001-12-10', '2001-12-11', '2001-12-12', '2001-12-13', '2001-12-14', '2001-12-17', '2001-12-18', '2001-12-19', '2001-12-20', '2001-12-21', '2001-12-24', '2001-12-25', '2001-12-26', '2001-12-27', '2001-12-28', '2001-12-31', '2002-01-01', '2002-01-02', '2002-01-03', '2002-01-04', '2002-01-07', '2002-01-08', '2002-01-09', '2002-01-10', '2002-01-11', '2002-01-14', '2002-01-15', '2002-01-16', '2002-01-17', '2002-01-18', '2002-01-21', '2002-01-22', '2002-01-23', '2002-01-24', '2002-01-25', '2002-01-28', '2002-01-29', '2002-01-30', '2002-01-31', '2002-02-01', '2002-02-04', '2002-02-05', '2002-02-06', '2002-02-07', '2002-02-08', '2002-02-11', '2002-02-12', '2002-02-13', '2002-02-14', '2002-02-15', '2002-02-18', '2002-02-19', '2002-02-20', '2002-02-21', '2002-02-22', '2002-02-25', '2002-02-26', '2002-02-27', '2002-02-28', '2002-03-01', '2002-03-04', '2002-03-05', '2002-03-06', '2002-03-07', '2002-03-08', '2002-03-11', '2002-03-12', '2002-03-13', '2002-03-14', '2002-03-15', '2002-03-18', '2002-03-19', '2002-03-20', '2002-03-21', '2002-03-22', '2002-03-25', '2002-03-26', '2002-03-27', '2002-03-28', '2002-03-29', '2002-04-01', '2002-04-02', '2002-04-03', '2002-04-04', '2002-04-05', '2002-04-08', '2002-04-09', '2002-04-10', '2002-04-11', '2002-04-12', '2002-04-15', '2002-04-16', '2002-04-17', '2002-04-18', '2002-04-19', '2002-04-22', '2002-04-23', '2002-04-24', '2002-04-25', '2002-04-26', '2002-04-29', '2002-04-30', '2002-05-01', '2002-05-02', '2002-05-03', '2002-05-06', '2002-05-07', '2002-05-08', '2002-05-09', '2002-05-10', '2002-05-13', '2002-05-14', '2002-05-15', '2002-05-16', '2002-05-17', '2002-05-20', '2002-05-21', '2002-05-22', '2002-05-23', '2002-05-24', '2002-05-27', '2002-05-28', '2002-05-29', '2002-05-30', '2002-05-31', '2002-06-03', '2002-06-04', '2002-06-05', '2002-06-06', '2002-06-07', '2002-06-10', '2002-06-11', '2002-06-12', '2002-06-13', '2002-06-14', '2002-06-17', '2002-06-18', '2002-06-19', '2002-06-20', '2002-06-21', '2002-06-24', '2002-06-25', '2002-06-26', '2002-06-27', '2002-06-28', '2002-07-01', '2002-07-02', '2002-07-03', '2002-07-04', '2002-07-05', '2002-07-08', '2002-07-09', '2002-07-10', '2002-07-11', '2002-07-12', '2002-07-15', '2002-07-16', '2002-07-17', '2002-07-18', '2002-07-19', '2002-07-22', '2002-07-23', '2002-07-24', '2002-07-25', '2002-07-26', '2002-07-29', '2002-07-30', '2002-07-31', '2002-08-01', '2002-08-02', '2002-08-05', '2002-08-06', '2002-08-07', '2002-08-08', '2002-08-09', '2002-08-12', '2002-08-13', '2002-08-14', '2002-08-15', '2002-08-16', '2002-08-19', '2002-08-20', '2002-08-21', '2002-08-22', '2002-08-23', '2002-08-26', '2002-08-27', '2002-08-28', '2002-08-29', '2002-08-30', '2002-09-02', '2002-09-03', '2002-09-04', '2002-09-05', '2002-09-06', '2002-09-09', '2002-09-10', '2002-09-11', '2002-09-12', '2002-09-13', '2002-09-16', '2002-09-17', '2002-09-18', '2002-09-19', '2002-09-20', '2002-09-23', '2002-09-24', '2002-09-25', '2002-09-26', '2002-09-27', '2002-09-30', '2002-10-01', '2002-10-02', '2002-10-03', '2002-10-04', '2002-10-07', '2002-10-08', '2002-10-09', '2002-10-10', '2002-10-11', '2002-10-14', '2002-10-15', '2002-10-16', '2002-10-17', '2002-10-18', '2002-10-21', '2002-10-22', '2002-10-23', '2002-10-24', '2002-10-25', '2002-10-28', '2002-10-29', '2002-10-30', '2002-10-31', '2002-11-01', '2002-11-04', '2002-11-05', '2002-11-06', '2002-11-07', '2002-11-08', '2002-11-11', '2002-11-12', '2002-11-13', '2002-11-14', '2002-11-15', '2002-11-18', '2002-11-19', '2002-11-20', '2002-11-21', '2002-11-22', '2002-11-25', '2002-11-26', '2002-11-27', '2002-11-28', '2002-11-29', '2002-12-02', '2002-12-03', '2002-12-04', '2002-12-05', '2002-12-06', '2002-12-09', '2002-12-10', '2002-12-11', '2002-12-12', '2002-12-13', '2002-12-16', '2002-12-17', '2002-12-18', '2002-12-19', '2002-12-20', '2002-12-23', '2002-12-24', '2002-12-25', '2002-12-26', '2002-12-27', '2002-12-30', '2002-12-31', '2003-01-01', '2003-01-02', '2003-01-03', '2003-01-06', '2003-01-07', '2003-01-08', '2003-01-09', '2003-01-10', '2003-01-13', '2003-01-14', '2003-01-15', '2003-01-16', '2003-01-17', '2003-01-20', '2003-01-21', '2003-01-22', '2003-01-23', '2003-01-24', '2003-01-27', '2003-01-28', '2003-01-29', '2003-01-30', '2003-01-31', '2003-02-03', '2003-02-04', '2003-02-05', '2003-02-06', '2003-02-07', '2003-02-10', '2003-02-11', '2003-02-12', '2003-02-13', '2003-02-14', '2003-02-17', '2003-02-18', '2003-02-19', '2003-02-20', '2003-02-21', '2003-02-24', '2003-02-25', '2003-02-26', '2003-02-27', '2003-02-28', '2003-03-03', '2003-03-04', '2003-03-05', '2003-03-06', '2003-03-07', '2003-03-10', '2003-03-11', '2003-03-12', '2003-03-13', '2003-03-14', '2003-03-17', '2003-03-18', '2003-03-19', '2003-03-20', '2003-03-21', '2003-03-24', '2003-03-25', '2003-03-26', '2003-03-27', '2003-03-28', '2003-03-31', '2003-04-01', '2003-04-02', '2003-04-03', '2003-04-04', '2003-04-07', '2003-04-08', '2003-04-09', '2003-04-10', '2003-04-11', '2003-04-14', '2003-04-15', '2003-04-16', '2003-04-17', '2003-04-18', '2003-04-21', '2003-04-22', '2003-04-23', '2003-04-24', '2003-04-25', '2003-04-28', '2003-04-29', '2003-04-30', '2003-05-01', '2003-05-02', '2003-05-05', '2003-05-06', '2003-05-07', '2003-05-08', '2003-05-09', '2003-05-12', '2003-05-13', '2003-05-14', '2003-05-15', '2003-05-16', '2003-05-19', '2003-05-20', '2003-05-21', '2003-05-22', '2003-05-23', '2003-05-26', '2003-05-27', '2003-05-28', '2003-05-29', '2003-05-30', '2003-06-02', '2003-06-03', '2003-06-04', '2003-06-05', '2003-06-06', '2003-06-09', '2003-06-10', '2003-06-11', '2003-06-12', '2003-06-13', '2003-06-16', '2003-06-17', '2003-06-18', '2003-06-19', '2003-06-20', '2003-06-23', '2003-06-24', '2003-06-25', '2003-06-26', '2003-06-27', '2003-06-30', '2003-07-01', '2003-07-02', '2003-07-03', '2003-07-04', '2003-07-07', '2003-07-08', '2003-07-09', '2003-07-10', '2003-07-11', '2003-07-14', '2003-07-15', '2003-07-16', '2003-07-17', '2003-07-18', '2003-07-21', '2003-07-22', '2003-07-23', '2003-07-24', '2003-07-25', '2003-07-28', '2003-07-29', '2003-07-30', '2003-07-31', '2003-08-01', '2003-08-04', '2003-08-05', '2003-08-06', '2003-08-07', '2003-08-08', '2003-08-11', '2003-08-12', '2003-08-13', '2003-08-14', '2003-08-15', '2003-08-18', '2003-08-19', '2003-08-20', '2003-08-21', '2003-08-22', '2003-08-25', '2003-08-26', '2003-08-27', '2003-08-28', '2003-08-29', '2003-09-01', '2003-09-02', '2003-09-03', '2003-09-04', '2003-09-05', '2003-09-08', '2003-09-09', '2003-09-10', '2003-09-11', '2003-09-12', '2003-09-15', '2003-09-16', '2003-09-17', '2003-09-18', '2003-09-19', '2003-09-22', '2003-09-23', '2003-09-24', '2003-09-25', '2003-09-26', '2003-09-29', '2003-09-30', '2003-10-01', '2003-10-02', '2003-10-03', '2003-10-06', '2003-10-07', '2003-10-08', '2003-10-09', '2003-10-10', '2003-10-13', '2003-10-14', '2003-10-15', '2003-10-16', '2003-10-17', '2003-10-20', '2003-10-21', '2003-10-22', '2003-10-23', '2003-10-24', '2003-10-27', '2003-10-28', '2003-10-29', '2003-10-30', '2003-10-31', '2003-11-03', '2003-11-04', '2003-11-05', '2003-11-06', '2003-11-07', '2003-11-10', '2003-11-11', '2003-11-12', '2003-11-13', '2003-11-14', '2003-11-17', '2003-11-18', '2003-11-19', '2003-11-20', '2003-11-21', '2003-11-24', '2003-11-25', '2003-11-26', '2003-11-27', '2003-11-28', '2003-12-01', '2003-12-02', '2003-12-03', '2003-12-04', '2003-12-05', '2003-12-08', '2003-12-09', '2003-12-10', '2003-12-11', '2003-12-12', '2003-12-15', '2003-12-16', '2003-12-17', '2003-12-18', '2003-12-19', '2003-12-22', '2003-12-23', '2003-12-24', '2003-12-25', '2003-12-26', '2003-12-29', '2003-12-30', '2003-12-31', '2004-01-01', '2004-01-02', '2004-01-05', '2004-01-06', '2004-01-07', '2004-01-08', '2004-01-09', '2004-01-12', '2004-01-13', '2004-01-14', '2004-01-15', '2004-01-16', '2004-01-19', '2004-01-20', '2004-01-21', '2004-01-22', '2004-01-23', '2004-01-26', '2004-01-27', '2004-01-28', '2004-01-29', '2004-01-30', '2004-02-02', '2004-02-03', '2004-02-04', '2004-02-05', '2004-02-06', '2004-02-09', '2004-02-10', '2004-02-11', '2004-02-12', '2004-02-13', '2004-02-16', '2004-02-17', '2004-02-18', '2004-02-19', '2004-02-20', '2004-02-23', '2004-02-24', '2004-02-25', '2004-02-26', '2004-02-27', '2004-03-01', '2004-03-02', '2004-03-03', '2004-03-04', '2004-03-05', '2004-03-08', '2004-03-09', '2004-03-10', '2004-03-11', '2004-03-12', '2004-03-15', '2004-03-16', '2004-03-17', '2004-03-18', '2004-03-19', '2004-03-22', '2004-03-23', '2004-03-24', '2004-03-25', '2004-03-26', '2004-03-29', '2004-03-30', '2004-03-31', '2004-04-01', '2004-04-02', '2004-04-05', '2004-04-06', '2004-04-07', '2004-04-08', '2004-04-09', '2004-04-12', '2004-04-13', '2004-04-14', '2004-04-15', '2004-04-16', '2004-04-19', '2004-04-20', '2004-04-21', '2004-04-22', '2004-04-23', '2004-04-26', '2004-04-27', '2004-04-28', '2004-04-29', '2004-04-30', '2004-05-03', '2004-05-04', '2004-05-05', '2004-05-06', '2004-05-07', '2004-05-10', '2004-05-11', '2004-05-12', '2004-05-13', '2004-05-14', '2004-05-17', '2004-05-18', '2004-05-19', '2004-05-20', '2004-05-21', '2004-05-24', '2004-05-25', '2004-05-26', '2004-05-27', '2004-05-28', '2004-05-31', '2004-06-01', '2004-06-02', '2004-06-03', '2004-06-04', '2004-06-07', '2004-06-08', '2004-06-09', '2004-06-10', '2004-06-11', '2004-06-14', '2004-06-15', '2004-06-16', '2004-06-17', '2004-06-18', '2004-06-21', '2004-06-22', '2004-06-23', '2004-06-24', '2004-06-25', '2004-06-28', '2004-06-29', '2004-06-30', '2004-07-01', '2004-07-02', '2004-07-05', '2004-07-06', '2004-07-07', '2004-07-08', '2004-07-09', '2004-07-12', '2004-07-13', '2004-07-14', '2004-07-15', '2004-07-16', '2004-07-19', '2004-07-20', '2004-07-21', '2004-07-22', '2004-07-23', '2004-07-26', '2004-07-27', '2004-07-28', '2004-07-29', '2004-07-30', '2004-08-02', '2004-08-03', '2004-08-04', '2004-08-05', '2004-08-06', '2004-08-09', '2004-08-10', '2004-08-11', '2004-08-12', '2004-08-13', '2004-08-16', '2004-08-17', '2004-08-18', '2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24', '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30', '2004-08-31', '2004-09-01', '2004-09-02', '2004-09-03', '2004-09-06', '2004-09-07', '2004-09-08', '2004-09-09', '2004-09-10', '2004-09-13', '2004-09-14', '2004-09-15', '2004-09-16', '2004-09-17', '2004-09-20', '2004-09-21', '2004-09-22', '2004-09-23', '2004-09-24', '2004-09-27', '2004-09-28', '2004-09-29', '2004-09-30', '2004-10-01', '2004-10-04', '2004-10-05', '2004-10-06', '2004-10-07', '2004-10-08', '2004-10-11', '2004-10-12', '2004-10-13', '2004-10-14', '2004-10-15', '2004-10-18', '2004-10-19', '2004-10-20', '2004-10-21', '2004-10-22', '2004-10-25', '2004-10-26', '2004-10-27', '2004-10-28', '2004-10-29', '2004-11-01', '2004-11-02', '2004-11-03', '2004-11-04', '2004-11-05', '2004-11-08', '2004-11-09', '2004-11-10', '2004-11-11', '2004-11-12', '2004-11-15', '2004-11-16', '2004-11-17', '2004-11-18', '2004-11-19', '2004-11-22', '2004-11-23', '2004-11-24', '2004-11-25', '2004-11-26', '2004-11-29', '2004-11-30', '2004-12-01', '2004-12-02', '2004-12-03', '2004-12-06', '2004-12-07', '2004-12-08', '2004-12-09', '2004-12-10', '2004-12-13', '2004-12-14', '2004-12-15', '2004-12-16', '2004-12-17', '2004-12-20', '2004-12-21', '2004-12-22', '2004-12-23', '2004-12-24', '2004-12-27', '2004-12-28', '2004-12-29', '2004-12-30', '2004-12-31', '2005-01-03', '2005-01-04', '2005-01-05', '2005-01-06', '2005-01-07', '2005-01-10', '2005-01-11', '2005-01-12', '2005-01-13', '2005-01-14', '2005-01-17', '2005-01-18', '2005-01-19', '2005-01-20', '2005-01-21', '2005-01-24', '2005-01-25', '2005-01-26', '2005-01-27', '2005-01-28', '2005-01-31', '2005-02-01', '2005-02-02', '2005-02-03', '2005-02-04', '2005-02-07', '2005-02-08', '2005-02-09', '2005-02-10', '2005-02-11', '2005-02-14', '2005-02-15', '2005-02-16', '2005-02-17', '2005-02-18', '2005-02-21', '2005-02-22', '2005-02-23', '2005-02-24', '2005-02-25', '2005-02-28', '2005-03-01', '2005-03-02', '2005-03-03', '2005-03-04', '2005-03-07', '2005-03-08', '2005-03-09', '2005-03-10', '2005-03-11', '2005-03-14', '2005-03-15', '2005-03-16', '2005-03-17', '2005-03-18', '2005-03-21', '2005-03-22', '2005-03-23', '2005-03-24', '2005-03-25', '2005-03-28', '2005-03-29', '2005-03-30', '2005-03-31', '2005-04-01', '2005-04-04', '2005-04-05', '2005-04-06', '2005-04-07', '2005-04-08', '2005-04-11', '2005-04-12', '2005-04-13', '2005-04-14', '2005-04-15', '2005-04-18', '2005-04-19', '2005-04-20', '2005-04-21', '2005-04-22', '2005-04-25', '2005-04-26', '2005-04-27', '2005-04-28', '2005-04-29', '2005-05-02', '2005-05-03', '2005-05-04', '2005-05-05', '2005-05-06', '2005-05-09', '2005-05-10', '2005-05-11', '2005-05-12', '2005-05-13', '2005-05-16', '2005-05-17', '2005-05-18', '2005-05-19', '2005-05-20', '2005-05-23', '2005-05-24', '2005-05-25', '2005-05-26', '2005-05-27', '2005-05-30', '2005-05-31', '2005-06-01', '2005-06-02', '2005-06-03', '2005-06-06', '2005-06-07', '2005-06-08', '2005-06-09', '2005-06-10', '2005-06-13', '2005-06-14', '2005-06-15', '2005-06-16', '2005-06-17', '2005-06-20', '2005-06-21', '2005-06-22', '2005-06-23', '2005-06-24', '2

In [ ]:
# specify a new set of names for the columns
# all lower case, remove space in Adj Close
# also, header=0 skips the header row
df = pd.read_csv("msft.csv", 
                 header=4)
df.head(100)
df.index

### Specifying specific columns to load

In [2]:
# read in data only in the Date and Close columns
# and index by the Date column
df2 = pd.read_csv("msft.csv", 
                  usecols=['Date', 'Close','Low'], 
                  index_col=['Date'])
df2.head()

              Low  Close
Date
2014-07-21  81.81  81.93
2014-07-18  82.52  83.35
2014-07-17  83.33  83.63
2014-07-16  83.66  84.91
2014-07-15  83.20  83.58

## Saving a DataFrame to a CSV

In [288]:
# save df2 to a new csv file
# also specify naming the index as date
df2.to_excel("myfile.xls",  index_label='date')
df2.to_excel("myfile.xls", sheet_name='mysheet1', index_label='date')
df2.to_excel("myfile.xls", sheet_name='mysheet2', index_label='date')

df2.to_csv("msft_modified.csv", index_label='date')

In [290]:
with pd.ExcelWriter('myfile.xls') as writer:  # doctest: +SKIP
    df2.to_excel(writer, sheet_name='Sheet_name_1')
    df2.to_excel(writer, sheet_name='Sheet_name_2')

In [7]:
# view the start of the file just saved
!head data/msft_modified.csv
#type data/msft_modified.csv # windows

'head' is not recognized as an internal or external command,
operable program or batch file.

# Working with missing data

## Setup

In [291]:
import pandas as pd
# create a DataFrame with 5 rows and 3 columns
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), 
               index=['a', 'b', 'c', 'd', 'e'], 
               columns=['c1', 'c2', 'c3'])
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [292]:
# add some columns and rows to the DataFrame
# column c4 with NaN values
df['c4'] = np.nan
df

   c1  c2  c3  c4
a   0   1   2 NaN
b   3   4   5 NaN
c   6   7   8 NaN
d   9  10  11 NaN
e  12  13  14 NaN

In [293]:
# row 'f' with 15 through 18 
df.loc['f'] = np.arange(15, 19) 
# row 'g' will all NaN
print(df)

   c1  c2  c3    c4
a   0   1   2   NaN
b   3   4   5   NaN
c   6   7   8   NaN
d   9  10  11   NaN
e  12  13  14   NaN
f  15  16  17  18.0

In [299]:
df.loc['g'] = np.nan
# column 'C5' with NaN's
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [300]:
df['c5'] = np.nan
# change value in col 'c4' row 'a'

In [301]:
df['c4']['a'] = 20
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [302]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

## Determining NaN values in Series and DataFrame objects

In [303]:
# which items are NaN?
df.isnull()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

In [307]:
# total count of NaN values
nullsumforcolumns = df.isnull().sum()
nullsumforcolumns

c1    1
c2    1
c3    1
c4    5
c5    7
dtype: int64

In [308]:
nullsumforcolumns.sum()

15

In [309]:
# number of non-NaN values in each column
df.count()

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

In [311]:
# which items are not null?
df.notnull()

      c1     c2     c3     c4     c5
a   True   True   True   True  False
b   True   True   True  False  False
c   True   True   True  False  False
d   True   True   True  False  False
e   True   True   True  False  False
f   True   True   True   True  False
g  False  False  False  False  False

In [312]:
# which items are not null?
df.notnull().sum()

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

In [313]:
# which items are not null?
df.notnull().sum().sum()

20

# Selecting out (dropping) missing data

In [314]:
df.notnull()

      c1     c2     c3     c4     c5
a   True   True   True   True  False
b   True   True   True  False  False
c   True   True   True  False  False
d   True   True   True  False  False
e   True   True   True  False  False
f   True   True   True   True  False
g  False  False  False  False  False

In [315]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [318]:
df.c3.notnull()

a     True
b     True
c     True
d     True
e     True
f     True
g    False
Name: c3, dtype: bool

In [321]:
df.c3[df.c3.notnull()]

a     2.0
b     5.0
c     8.0
d    11.0
e    14.0
f    17.0
Name: c3, dtype: float64

In [322]:
df.c3[df.c3.isnull()]

g   NaN
Name: c3, dtype: float64

In [329]:
df[df.c3.isnull()]

   c1  c2  c3  c4  c5
g NaN NaN NaN NaN NaN

In [330]:
df[df.c3.notnull()]

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN

In [331]:
df[df.notnull()]

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [326]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [327]:
df.isnull()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

In [328]:
df[df.isnull()]

   c1  c2  c3  c4  c5
a NaN NaN NaN NaN NaN
b NaN NaN NaN NaN NaN
c NaN NaN NaN NaN NaN
d NaN NaN NaN NaN NaN
e NaN NaN NaN NaN NaN
f NaN NaN NaN NaN NaN
g NaN NaN NaN NaN NaN

In [47]:
df.c4

a     NaN
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

In [132]:
df.c4.notnull()

a     True
b    False
c    False
d    False
e    False
f     True
g    False
Name: c4, dtype: bool

In [138]:
# select the non-NaN items in column c4
df.c4[df.c4.notnull()]

a    20.0
f    18.0
Name: c4, dtype: float64

In [135]:
df[df.c4.notnull()]

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
f  15.0  16.0  17.0  18.0 NaN

In [49]:
df.c4

a     NaN
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

In [332]:
# .dropna will also return non NaN values
# this gets all non NaN items in column c4
df.c4.dropna()

a    20.0
f    18.0
Name: c4, dtype: float64

In [333]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [334]:
df['c5']['a'] = 1
df

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  1.0
b   3.0   4.0   5.0   NaN  NaN
c   6.0   7.0   8.0   NaN  NaN
d   9.0  10.0  11.0   NaN  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN
g   NaN   NaN   NaN   NaN  NaN

In [335]:
df['c1']['g'] = 1

In [336]:
df

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  1.0
b   3.0   4.0   5.0   NaN  NaN
c   6.0   7.0   8.0   NaN  NaN
d   9.0  10.0  11.0   NaN  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN
g   1.0   NaN   NaN   NaN  NaN

In [337]:
df['c4']['a'] = 2

In [338]:
df.dropna()
### all the columns should be not null for a row 
## if one colum value is null or Nan for a row, dropna method will drop that row

    c1   c2   c3   c4   c5
a  0.0  1.0  2.0  2.0  1.0

In [339]:
# dropna returns a copy with the values dropped
# the source DataFrame / column is not changed
df.c4

a     2.0
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

In [345]:
# using how='all', only rows that have all values
# as NaN will be dropped
a = df.dropna(how = 'any')
print(a)
a = df.dropna(how = 'all')
a

    c1   c2   c3   c4   c5
a  0.0  1.0  2.0  2.0  1.0

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0   2.0  1.0
b   3.0   4.0   5.0   NaN  NaN
c   6.0   7.0   8.0   NaN  NaN
d   9.0  10.0  11.0   NaN  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN

In [346]:
df['c1']['g'] = np.nan

In [347]:
df

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0   2.0  1.0
b   3.0   4.0   5.0   NaN  NaN
c   6.0   7.0   8.0   NaN  NaN
d   9.0  10.0  11.0   NaN  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN
g   NaN   NaN   NaN   NaN  NaN

In [67]:
# using how='all', only rows that have all values
# as NaN will be dropped
a = df.dropna(how = 'all')
a

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0   2.0  1.0
b   3.0   4.0   5.0   NaN  NaN
c   6.0   7.0   8.0   NaN  NaN
d   9.0  10.0  11.0   NaN  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN

In [348]:
df['c5'][0] = np.nan

In [349]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [354]:
# flip to drop columns instead of rows
df.dropna(how='all', axis=1) # say goodbye to c5, axis = 1 column

     c1    c2    c3    c4
a   0.0   1.0   2.0   2.0
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

In [355]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [356]:
df.loc["g"] = np.nan

In [358]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [359]:
# flip to drop columns instead of rows
df.dropna(how='all', axis=0) # say goodbye to c5

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN

In [360]:
# make a copy of df
df2 = df.copy()

# replace two NaN cells with values
df2.ix['g'].c1 = 0
df2.ix['g'].c3 = 0

#.ix is deprecated. Please use
#.loc for label based indexing or loc -> label a, b, c, 
#.iloc for positional indexing iloc -> index of labe a -> 0, b -> 1 -- 0,1,2,3...
df2

c:\python373\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
c:\python373\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   0.0   NaN   0.0   NaN NaN

In [361]:
# now drop columns with any NaN values
df2.dropna(how='any', axis=0)

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

In [362]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [363]:
#threshold is minimum not nan values

df.dropna(thresh=1, axis=1)

     c1    c2    c3    c4
a   0.0   1.0   2.0   2.0
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

In [365]:
df.dropna(thresh=4, axis=0)

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
f  15.0  16.0  17.0  18.0 NaN

In [369]:
df.dropna(thresh=2, axis=1)

     c1    c2    c3    c4
a   0.0   1.0   2.0   2.0
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

In [370]:
# only drop columns with at least 5 NaN values
#threshold is minimum not nan values

df.dropna(thresh=6, axis=0)

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

In [371]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [372]:
# only drop columns with at least 5 NaN values
#threshold is minimum not nan values

df.dropna(thresh=3, axis=0)

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN

In [373]:
# NaN's don't count as an item in calculating
# the means
df.mean()

c1     7.5
c2     8.5
c3     9.5
c4    10.0
c5     NaN
dtype: float64

In [103]:
df.mean().mean()

8.875

In [378]:
df.median().median()

9.0

#### Filling Nan

In [380]:
# return a new DataFrame with NaN's filled with 0
filled = df.fillna(0.0)
filled

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0   2.0  0.0
b   3.0   4.0   5.0   0.0  0.0
c   6.0   7.0   8.0   0.0  0.0
d   9.0  10.0  11.0   0.0  0.0
e  12.0  13.0  14.0   0.0  0.0
f  15.0  16.0  17.0  18.0  0.0
g   0.0   0.0   0.0   0.0  0.0

In [384]:
# having replaced NaN with 0 can make
# operations such as mean have different results
filled.mean()

c1    6.428571
c2    7.285714
c3    8.142857
c4    2.857143
c5    0.000000
dtype: float64

In [385]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [391]:
# only fills the first two NaN's in each row with 0
print(df)
print("####################################")
fill_2 = df.fillna(1.0, limit=3, axis = 'index')#0)
print(fill_2)

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN
####################################
     c1    c2    c3    c4   c5
a   0.0   1.0   2.0   2.0  1.0
b   3.0   4.0   5.0   1.0  1.0
c   6.0   7.0   8.0   1.0  1.0
d   9.0  10.0  11.0   1.0  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN
g   1.0   1.0   1.0   NaN  NaN

In [394]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [405]:
#DataFrame.replace(self, to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad')
df_regex = df.replace("[10\.]+",1111.0,limit=3, regex = True)
print(df_regex)
#DataFrame.replace(df2,1.0,10.0)

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [406]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0   2.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [407]:
# only fills the first two NaN's in each row with 0
df.loc['e'] = 1
df['c1'][['c','d','e','f']] = np.nan
df['c6'] = np.nan

df.loc['d'] = np.nan
print(df)
print("#######################################")
fill_2 = df.fillna(10, limit=3, axis = 'index') # index or 0, # columns or 1
print(fill_2)

    c1    c2    c3    c4   c5  c6
a  0.0   1.0   2.0   2.0  NaN NaN
b  3.0   4.0   5.0   NaN  NaN NaN
c  NaN   7.0   8.0   NaN  NaN NaN
d  NaN   NaN   NaN   NaN  NaN NaN
e  NaN   1.0   1.0   1.0  1.0 NaN
f  NaN  16.0  17.0  18.0  NaN NaN
g  NaN   NaN   NaN   NaN  NaN NaN
#######################################
     c1    c2    c3    c4    c5    c6
a   0.0   1.0   2.0   2.0  10.0  10.0
b   3.0   4.0   5.0  10.0  10.0  10.0
c  10.0   7.0   8.0  10.0  10.0  10.0
d  10.0  10.0  10.0  10.0   NaN   NaN
e  10.0   1.0   1.0   1.0   1.0   NaN
f   NaN  16.0  17.0  18.0   NaN   NaN
g   NaN  10.0  10.0   NaN   NaN   NaN

In [408]:
# only fills the first two NaN's in each row with 0
fill_2 = df.fillna("#", limit=5)
print(df)
fill_2

    c1    c2    c3    c4   c5  c6
a  0.0   1.0   2.0   2.0  NaN NaN
b  3.0   4.0   5.0   NaN  NaN NaN
c  NaN   7.0   8.0   NaN  NaN NaN
d  NaN   NaN   NaN   NaN  NaN NaN
e  NaN   1.0   1.0   1.0  1.0 NaN
f  NaN  16.0  17.0  18.0  NaN NaN
g  NaN   NaN   NaN   NaN  NaN NaN

  c1  c2  c3  c4   c5   c6
a  0   1   2   2    #    #
b  3   4   5   #    #    #
c  #   7   8   #    #    #
d  #   #   #   #    #    #
e  #   1   1   1    1    #
f  #  16  17  18    #  NaN
g  #   #   #   #  NaN  NaN

In [409]:
df3 = df2.copy()
df3
df3["c6"] = np.NaN
df3["c7"] = np.NaN
df3["c8"] = np.NaN
df3["c9"] = np.NaN
df3.c1 = np.NaN

In [410]:
df3

   c1    c2    c3    c4  c5  c6  c7  c8  c9
a NaN   1.0   2.0   2.0 NaN NaN NaN NaN NaN
b NaN   4.0   5.0   NaN NaN NaN NaN NaN NaN
c NaN   7.0   8.0   NaN NaN NaN NaN NaN NaN
d NaN  10.0  11.0   NaN NaN NaN NaN NaN NaN
e NaN  13.0  14.0   NaN NaN NaN NaN NaN NaN
f NaN  16.0  17.0  18.0 NaN NaN NaN NaN NaN
g NaN   NaN   0.0   NaN NaN NaN NaN NaN NaN

In [411]:
# only fills the first two NaN's in each row with 0
fill_2 = df3.fillna(0, limit=2, axis = 'index')
fill_2

    c1    c2    c3    c4   c5   c6   c7   c8   c9
a  0.0   1.0   2.0   2.0  0.0  0.0  0.0  0.0  0.0
b  0.0   4.0   5.0   0.0  0.0  0.0  0.0  0.0  0.0
c  NaN   7.0   8.0   0.0  NaN  NaN  NaN  NaN  NaN
d  NaN  10.0  11.0   NaN  NaN  NaN  NaN  NaN  NaN
e  NaN  13.0  14.0   NaN  NaN  NaN  NaN  NaN  NaN
f  NaN  16.0  17.0  18.0  NaN  NaN  NaN  NaN  NaN
g  NaN   0.0   0.0   NaN  NaN  NaN  NaN  NaN  NaN

In [145]:
# only fills the first two NaN's in each row with 0
fill_3 = df3.fillna(1, limit=5)
print(fill_3)
fill_3

    c1    c2    c3    c4   c5   c6   c7   c8   c9
a  1.0   1.0   2.0   2.0  1.0  1.0  1.0  1.0  1.0
b  1.0   4.0   5.0   1.0  1.0  1.0  1.0  1.0  1.0
c  1.0   7.0   8.0   1.0  1.0  1.0  1.0  1.0  1.0
d  1.0  10.0  11.0   1.0  1.0  1.0  1.0  1.0  1.0
e  1.0  13.0  14.0   1.0  1.0  1.0  1.0  1.0  1.0
f  NaN  16.0  17.0  18.0  NaN  NaN  NaN  NaN  NaN
g  NaN   1.0   0.0   1.0  NaN  NaN  NaN  NaN  NaN

    c1    c2    c3    c4   c5   c6   c7   c8   c9
a  1.0   1.0   2.0   2.0  1.0  1.0  1.0  1.0  1.0
b  1.0   4.0   5.0   1.0  1.0  1.0  1.0  1.0  1.0
c  1.0   7.0   8.0   1.0  1.0  1.0  1.0  1.0  1.0
d  1.0  10.0  11.0   1.0  1.0  1.0  1.0  1.0  1.0
e  1.0  13.0  14.0   1.0  1.0  1.0  1.0  1.0  1.0
f  NaN  16.0  17.0  18.0  NaN  NaN  NaN  NaN  NaN
g  NaN   1.0   0.0   1.0  NaN  NaN  NaN  NaN  NaN

In [ ]:
df3

## Filling in missing data

In [413]:
df.c4['f'] = np.nan

In [414]:
df.c4

a    2.0
b    NaN
c    NaN
d    NaN
e    1.0
f    NaN
g    NaN
Name: c4, dtype: float64

In [416]:
# extract the c4 column and fill NaNs forward
df.c4.fillna(method="ffill")

a    2.0
b    2.0
c    2.0
d    2.0
e    1.0
f    1.0
g    1.0
Name: c4, dtype: float64

In [417]:
# perform a backwards fill
df.c4.fillna(method="bfill")

a    2.0
b    1.0
c    1.0
d    1.0
e    1.0
f    NaN
g    NaN
Name: c4, dtype: float64

# Visualizing Data

#### Data Frame Plot
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#plotting">Generating Various charts directly from DataFrame</a>

In [418]:
# plot the Adj Close values we just read in
goog.plot(y='Adj Close', figsize=(12,8));
plt.savefig('5128OS_01_02.png', bbox_inches='tight', dpi=300)

NameError: name 'goog' is not defined